In [1]:
# Import the neccessary libraries
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
print("All neccessary libraries imported")

All neccessary libraries imported

In [2]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [3]:
# Raw data from Resources directory (change the link as needed)
attribute_data = "Data/MLhomedata.csv"

In [4]:
attribute_data_pd=pd.read_csv(attribute_data)
attribute_data_pd.head()

,player,pos,age,team,g,fg,threep,twop,reb,ast,pts,year,contract2020,predicted2020,differential
0,Aaron Gordon,PF,24,ORL,62,0.470,0.369,0.457,7.7,3.7,14.4,2019,18136364,"$9,631,250","$8,505,114"
1,Al Horford,C,33,PHI,67,0.450,0.350,0.516,6.8,4.0,11.9,2019,27500000,"$8,961,250","$18,538,750"
2,Alec Burks,SG,28,GSW,66,0.422,0.375,0.465,4.3,2.9,15.0,2019,6000000,"$8,961,250","($2,961,250)"
3,Alex Len,C,26,ATL,55,0.456,0.280,0.531,5.8,0.9,8.0,2019,2320000,"$5,100,000","($2,780,000)"
4,Andre Drummond,C,26,CLE,57,0.533,0.143,0.551,15.2,2.7,17.7,2019,28751775,"$17,922,500","$10,829,275"

In [5]:
# Read the  data into a dataframe
df_attributes = pd.read_csv(attribute_data)
# Drop the columns with string values
df_attributes.drop(columns=['player', 'team' ,'pos','predicted2020' ,'differential'],inplace=True)
# Let's see the shape and the first 5 rows of the dataframe
print('\033[1m'+"The shape of the {} dataframe is {}:" .format("attribute",df_attributes.shape)+'\033[0m')
df_attributes.head()

The shape of the attribute dataframe is (100, 10):

   age   g     fg  threep   twop   reb  ast   pts  year  contract2020
0   24  62  0.470   0.369  0.457   7.7  3.7  14.4  2019      18136364
1   33  67  0.450   0.350  0.516   6.8  4.0  11.9  2019      27500000
2   28  66  0.422   0.375  0.465   4.3  2.9  15.0  2019       6000000
3   26  55  0.456   0.280  0.531   5.8  0.9   8.0  2019       2320000
4   26  57  0.533   0.143  0.551  15.2  2.7  17.7  2019      28751775

In [6]:
# Let's see the column names in the dataframe
print(df_attributes.columns.tolist())

['age', 'g', 'fg', 'threep', 'twop', 'reb', 'ast', 'pts', 'year', 'contract2020']

In [7]:

# Basic information of the df_fire dataframe by the info() method
df_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           100 non-null    int64
 1   g             100 non-null    int64
 2   fg            100 non-null    float64
 3   threep        100 non-null    float64
 4   twop          100 non-null    float64
 5   reb           100 non-null    float64
 6   ast           100 non-null    float64
 7   pts           100 non-null    float64
 8   year          100 non-null    int64
 9   contract2020  100 non-null    int64
dtypes: float64(6), int64(4)
memory usage: 7.9 KB

In [8]:
# Create a new column with Rank 0 or 1 
df_attributes["more/less avg_salary"] = df_attributes["contract2020"].apply(lambda x: '0' if x <=8000000 else '1')
# Let's see the new column
df_attributes.head()

,age,g,fg,threep,twop,reb,ast,pts,year,contract2020,more/less avg_salary
0,24,62,0.470,0.369,0.457,7.7,3.7,14.4,2019,18136364,1
1,33,67,0.450,0.350,0.516,6.8,4.0,11.9,2019,27500000,1
2,28,66,0.422,0.375,0.465,4.3,2.9,15.0,2019,6000000,0
3,26,55,0.456,0.280,0.531,5.8,0.9,8.0,2019,2320000,0
4,26,57,0.533,0.143,0.551,15.2,2.7,17.7,2019,28751775,1

In [9]:
#Export csv 
df_attributes.to_csv('data_ML.csv')

In [10]:
import numpy as np
# Create a copy of df_attributes
df_copy = df_attributes.copy()
# Create X and Y numpy arrays
y = df_copy[['more/less avg_salary']].to_numpy() # Keep only the rank column
df_copy.drop(columns=['contract2020','more/less avg_salary'],inplace=True) # Keep only the attributes
X = df_copy.to_numpy() # Convert the dataframe to numpy array
print('\033[1m'+"Shape of the X dataset: {}".format(X.shape)+'\033[0m')
print('\033[1m'+"Shape of the y dataset: {}".format(y.shape)+'\033[0m')

Shape of the X dataset: (100, 9)
Shape of the y dataset: (100, 1)

In [11]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Shape of the train & test set
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (80, 9) (80, 1)
Test set: (20, 9) (20, 1)

In [12]:
# Importing StandardScaler from sklearn library
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [13]:
# Scaling both test and train data for X dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Install tensorflow module (if not available) by uncommenting below
#!pip install keras
#!pip install --upgrade tensorflow

In [15]:
from tensorflow.keras.utils import to_categorical
# Converting the labels (y_train and y_test) to categorical values
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [16]:

from tensorflow.keras.models import Sequential
# Creating a sequential model
model = Sequential()

In [17]:
from tensorflow.keras.layers import Dense
number_inputs = 9
number_hidden_nodes = 27
model.add(Dense(units=number_hidden_nodes,
                activation='tanh', input_dim=number_inputs))

In [18]:
# Defining the output layer
number_classes = 2 # Labels we are trying to predict (either 'Hit' or 'Miss')
model.add(Dense(units=number_classes, activation='softmax'))

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 27)                270
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 56
=================================================================
Total params: 326
Trainable params: 326
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Use categorical crossentropy for categorical data and mean squared error for regression
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [21]:

# Fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100, # Hundred iterations or loops
    shuffle=True,
    verbose=2
)

Epoch 1/100
3/3 - 1s - loss: 0.9294 - accuracy: 0.4125
Epoch 2/100
3/3 - 0s - loss: 0.8923 - accuracy: 0.4000
Epoch 3/100
3/3 - 0s - loss: 0.8604 - accuracy: 0.4000
Epoch 4/100
3/3 - 0s - loss: 0.8293 - accuracy: 0.4250
Epoch 5/100
3/3 - 0s - loss: 0.8001 - accuracy: 0.4625
Epoch 6/100
3/3 - 0s - loss: 0.7716 - accuracy: 0.5000
Epoch 7/100
3/3 - 0s - loss: 0.7457 - accuracy: 0.5375
Epoch 8/100
3/3 - 0s - loss: 0.7221 - accuracy: 0.5500
Epoch 9/100
3/3 - 0s - loss: 0.6989 - accuracy: 0.5625
Epoch 10/100
3/3 - 0s - loss: 0.6776 - accuracy: 0.5875
Epoch 11/100
3/3 - 0s - loss: 0.6575 - accuracy: 0.6250
Epoch 12/100
3/3 - 0s - loss: 0.6416 - accuracy: 0.6375
Epoch 13/100
3/3 - 0s - loss: 0.6241 - accuracy: 0.6375
Epoch 14/100
3/3 - 0s - loss: 0.6091 - accuracy: 0.6500
Epoch 15/100
3/3 - 0s - loss: 0.5957 - accuracy: 0.6625
Epoch 16/100
3/3 - 0s - loss: 0.5824 - accuracy: 0.6750
Epoch 17/100
3/3 - 0s - loss: 0.5715 - accuracy: 0.7125
Epoch 18/100
3/3 - 0s - loss: 0.5604 - accuracy: 0.7375
Epoch 19/100
3/3 - 0s - loss: 0.5530 - accuracy: 0.7250
Epoch 20/100
3/3 - 0s - loss: 0.5446 - accuracy: 0.7000
Epoch 21/100
3/3 - 0s - loss: 0.5363 - accuracy: 0.7125
Epoch 22/100
3/3 - 0s - loss: 0.5302 - accuracy: 0.7125
Epoch 23/100
3/3 - 0s - loss: 0.5239 - accuracy: 0.7000
Epoch 24/100
3/3 - 0s - loss: 0.5179 - accuracy: 0.7125
Epoch 25/100
3/3 - 0s - loss: 0.5140 - accuracy: 0.7250
Epoch 26/100
3/3 - 0s - loss: 0.5088 - accuracy: 0.7250
Epoch 27/100
3/3 - 0s - loss: 0.5041 - accuracy: 0.7375
Epoch 28/100
3/3 - 0s - loss: 0.5004 - accuracy: 0.7375
Epoch 29/100
3/3 - 0s - loss: 0.4969 - accuracy: 0.7500
Epoch 30/100
3/3 - 0s - loss: 0.4935 - accuracy: 0.7500
Epoch 31/100
3/3 - 0s - loss: 0.4902 - accuracy: 0.7500
Epoch 32/100
3/3 - 0s - loss: 0.4873 - accuracy: 0.7500
Epoch 33/100
3/3 - 0s - loss: 0.4847 - accuracy: 0.7500
Epoch 34/100
3/3 - 0s - loss: 0.4825 - accuracy: 0.7625
Epoch 35/100
3/3 - 0s - loss: 0.4799 - accuracy: 0.7625
Epoch 36/100
3/3 - 0s - loss: 0.4777 - accuracy: 0.7625
Epoch 37/100
3/3 - 0s - loss: 0.4758 - accuracy: 0.7625
Epoch 38/100
3/3 - 0s - loss: 0.4742 - accuracy: 0.7625
Epoch 39/100
3/3 - 0s - loss: 0.4725 - accuracy: 0.7625
Epoch 40/100
3/3 - 0s - loss: 0.4707 - accuracy: 0.7625
Epoch 41/100
3/3 - 0s - loss: 0.4697 - accuracy: 0.7750
Epoch 42/100
3/3 - 0s - loss: 0.4685 - accuracy: 0.7750
Epoch 43/100
3/3 - 0s - loss: 0.4670 - accuracy: 0.7750
Epoch 44/100
3/3 - 0s - loss: 0.4659 - accuracy: 0.7750
Epoch 45/100
3/3 - 0s - loss: 0.4648 - accuracy: 0.7750
Epoch 46/100
3/3 - 0s - loss: 0.4638 - accuracy: 0.7750
Epoch 47/100
3/3 - 0s - loss: 0.4629 - accuracy: 0.7750
Epoch 48/100
3/3 - 0s - loss: 0.4620 - accuracy: 0.7750
Epoch 49/100
3/3 - 0s - loss: 0.4609 - accuracy: 0.7750
Epoch 50/100
3/3 - 0s - loss: 0.4602 - accuracy: 0.7750
Epoch 51/100
3/3 - 0s - loss: 0.4591 - accuracy: 0.7750
Epoch 52/100
3/3 - 0s - loss: 0.4585 - accuracy: 0.7750
Epoch 53/100
3/3 - 0s - loss: 0.4574 - accuracy: 0.7750
Epoch 54/100
3/3 - 0s - loss: 0.4566 - accuracy: 0.7750
Epoch 55/100
3/3 - 0s - loss: 0.4562 - accuracy: 0.7750
Epoch 56/100
3/3 - 0s - loss: 0.4553 - accuracy: 0.7750
Epoch 57/100
3/3 - 0s - loss: 0.4547 - accuracy: 0.7750
Epoch 58/100
3/3 - 0s - loss: 0.4539 - accuracy: 0.7750
Epoch 59/100
3/3 - 0s - loss: 0.4532 - accuracy: 0.7750
Epoch 60/100
3/3 - 0s - loss: 0.4527 - accuracy: 0.7750
Epoch 61/100
3/3 - 0s - loss: 0.4520 - accuracy: 0.7875
Epoch 62/100
3/3 - 0s - loss: 0.4513 - accuracy: 0.7875
Epoch 63/100
3/3 - 0s - loss: 0.4507 - accuracy: 0.7875
Epoch 64/100
3/3 - 0s - loss: 0.4503 - accuracy: 0.7875
Epoch 65/100
3/3 - 0s - loss: 0.4494 - accuracy: 0.7875
Epoch 66/100
3/3 - 0s - loss: 0.4488 - accuracy: 0.7875
Epoch 67/100
3/3 - 0s - loss: 0.4482 - accuracy: 0.7875
Epoch 68/100
3/3 - 0s - loss: 0.4476 - accuracy: 0.7875
Epoch 69/100
3/3 - 0s - loss: 0.4471 - accuracy: 0.7875
Epoch 70/100
3/3 - 0s - loss: 0.4462 - accuracy: 0.7875
Epoch 71/100
3/3 - 0s - loss: 0.4455 - accuracy: 0.7875
Epoch 72/100
3/3 - 0s - loss: 0.4449 - accuracy: 0.7875
Epoch 73/100
3/3 - 0s - loss: 0.4443 - accuracy: 0.8000
Epoch 74/100
3/3 - 0s - loss: 0.4439 - accuracy: 0.8000
Epoch 75/100
3/3 - 0s - loss: 0.4434 - accuracy: 0.7875
Epoch 76/100
3/3 - 0s - loss: 0.4427 - accuracy: 0.7875
Epoch 77/100
3/3 - 0s - loss: 0.4420 - accuracy: 0.7875
Epoch 78/100
3/3 - 0s - loss: 0.4413 - accuracy: 0.7875
Epoch 79/100
3/3 - 0s - loss: 0.4408 - accuracy: 0.7875
Epoch 80/100
3/3 - 0s - loss: 0.4403 - accuracy: 0.7875
Epoch 81/100
3/3 - 0s - loss: 0.4395 - accuracy: 0.8000
Epoch 82/100
3/3 - 0s - loss: 0.4390 - accuracy: 0.8000
Epoch 83/100
3/3 - 0s - loss: 0.4384 - accuracy: 0.7875
Epoch 84/100
3/3 - 0s - loss: 0.4380 - accuracy: 0.8000
Epoch 85/100
3/3 - 0s - loss: 0.4371 - accuracy: 0.8000
Epoch 86/100
3/3 - 0s - loss: 0.4365 - accuracy: 0.8000
Epoch 87/100
3/3 - 0s - loss: 0.4360 - accuracy: 0.8000
Epoch 88/100
3/3 - 0s - loss: 0.4353 - accuracy: 0.8000
Epoch 89/100
3/3 - 0s - loss: 0.4348 - accuracy: 0.8000
Epoch 90/100
3/3 - 0s - loss: 0.4340 - accuracy: 0.8000
Epoch 91/100
3/3 - 0s - loss: 0.4335 - accuracy: 0.8125
Epoch 92/100
3/3 - 0s - loss: 0.4328 - accuracy: 0.8000
Epoch 93/100
3/3 - 0s - loss: 0.4324 - accuracy: 0.8000
Epoch 94/100
3/3 - 0s - loss: 0.4317 - accuracy: 0.8000
Epoch 95/100
3/3 - 0s - loss: 0.4309 - accuracy: 0.8000
Epoch 96/100
3/3 - 0s - loss: 0.4304 - accuracy: 0.8000
Epoch 97/100
3/3 - 0s - loss: 0.4298 - accuracy: 0.8000
Epoch 98/100
3/3 - 0s - loss: 0.4292 - accuracy: 0.8000
Epoch 99/100
3/3 - 0s - loss: 0.4286 - accuracy: 0.8000
Epoch 100/100
3/3 - 0s - loss: 0.4279 - accuracy: 0.8000

In [22]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 0.6752 - accuracy: 0.7500
Deep Neural Network - Loss: 0.6752481460571289, Accuracy: 0.75